body{
  background-color: white;
  min-height: 100%
  color:#82928A;
}
.logo{
  display: block;
    margin-left: auto;
    margin-right: auto ;
}

.navigation{
  width:100%;
  background-color: white;
  margin-bottom: 10px;
}

.navigation td a{
    color: #82928A;
    text-decoration: none;
}

.navigation td a:hover{
  color: pink;
}


.navigation > tr > td {
  margin:auto;
}

.navigation tr td {
  border: 10px;
  max-width: 100%;
  vertical-align: bottom;
  text-align: center;
  width: 15%
}


.container-nav{
  width:100%;
}